header
  div.logo
   img.bot-logo(src="../images/robot-icon-white.svg")
   h1 FUNDBOT
  ul
   li
    a(href="/Profile_Management") PROFILE
   li
    a(href="/Account_Summary") ACCOUNT
   li
    a(href="/Payment_History") PAY HISTORY
   li
    a(href="Application_Status") APP STATUS
   li
    a(href="/Payment_Configuration") PAY CONFIGURATION
   li
    a(href="/help") HELP
   li.profile-photo 
    img(src="../images/sean-baier.jpeg")