head
    title= title
    script(src="https://use.fontawesome.com/b0b7e594c6.js ")
    script(src="javascripts/scripts.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/header-styles.css')
    link(rel='stylesheet', href='/stylesheets/profile-styles.css')
    link(rel='stylesheet', href='/stylesheets/footer-styles.css')
    link(rel='stylesheet', href='/stylesheets/Account-Summary-styles.css')
    link(rel='stylesheet', href='/stylesheets/help-styles.css')
    link(rel='stylesheet', href='/stylesheets/login-styles.css')
    link(rel='stylesheet', href='/stylesheets/payment-history.css')
    link(rel='stylesheet', href='/stylesheets/application-status-styles.css')
    link(rel='stylesheet', href='/stylesheets/payment-configuration-styles.css')
    link(rel='stylesheet', href='/stylesheets/users_home.css')
    link(rel='stylesheet', href='/stylesheets/users_list.css')
    link(rel='stylesheet', href='/stylesheets/user_details.css')
    link(href="https://fonts.googleapis.com/css?family=Oswald:200,400" rel="stylesheet")