header
  div.logo
   img.bot-logo(src="../images/robot-icon-4.svg")
   h1 FUNDBOT
  ul
   li
    a(href="/Profile_Management") PROFILE
   li
    a(href="/Account_Summary") ACCOUNT
   li
    a(href="/General_Points") GENERAL
   li
    a(href="/Payment_History") PAY HISTORY
   li
    a(href="Application_Status") APP STATUS
   li
    a(href="/Payment_Configuration") PAY CONFIGURATION
   li.profile-photo 
    img(src="../images/drake_siemer.jpg")