header
  a(href="/Login")
   div.logo
    img.bot-logo(src="../images/robot-icon-white.svg")
    h1 FUNDBOT
  ul
   li
    a(href="/Profile_Management") PROFILE
   li
    a(href="/Account_Summary") ACCOUNT
   li
    a(href="/Payment_History") PAY HISTORY
   li
    a(href="Application_Status") APP STATUS
   li
    a(href="/Payment_Configuration") PAY CONFIGURATION
   li
    a(href="/help") HELP
   li
    a(href="/user_details") DETAILS
   li
    a(href="/users_list") SEARCH
   li
    a(href="user_update") UPDATE
   li.profile-photo
    div.dropdown
      img(onclick="myFunction2()" class="dropbtn" src="../images/sean-baier.jpeg")
      div(id="myDropdown" class="dropdown-content")
       a(href="/Login") Logout
   script(src="javascripts/scripts.js")

   
  //if this is an applicant you can see these NO DIVS!!