script(src="javascripts/scripts.js")
header
    a(href="/Login")
     div.logo
      img.bot-logo(src="../images/robot-icon-white.svg")
      h1 FUNDBOT
     - var user = { applicant: '', user: '', admin: 'drake' }
     - var authorised = false
      ul#user
        if user.applicant || user.admin || user.user
          li
           a(href="/Payment_History") PAY HISTORY
          li
           a(href="Application_Status") APP STATUS
          li
           a(href="/Payment_Configuration") PAY CONFIGURATION
        if user.admin
          li
           a(href="/users_list") SEARCH
          li
           a(href="/applicants_list") APP SEARCH
          li
        if user.applicant || user.user || user.admin
          div.dropdown
            li.dropdown.btn.btn-default
            img.profile-photo(src="../images/sean-baier.jpeg")
            ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
              li
               a(class="droplinks" href="/Login") LOGOUT
              li
               a(class="droplinks" href="/Profile_Management") PROFILE
              li
               a(class="droplinks" href="/Account_Summary") ACCOUNT
              li
               a(class="droplinks" href="/help") HELP




