script(src="javascripts/scripts.js")
header
    a(href="/Login")
     div.logo
      img.bot-logo(src="../images/robot-icon-white.svg")
      h1 FUNDBOT
    ul#user
      if session.isapplicant
        li
         a(href="/Payment_History") PAY HISTORY
        li
         a(href="Application_Status") APP STATUS
        li
         a(href="/Payment_Configuration") PAY CONFIGURATION
        div.dropdown
           img.profile-photo.dropbtn(src="../images/sean-baier.jpeg")
           div.dropdown-content
              a( onclick="logout()" class="droplinks" href="/Login") LOGOUT
              a(class="droplinks" href="/Profile_Management") PROFILE
              a(class="droplinks" href="/Account_Summary") ACCOUNT
              a(class="droplinks" href="/help") HELP
      else if session.isuser || session.isadmin
        li
         a(href="/Applications_Overview") APPLICATIONS LIST
        li
         a(href="/users_list") SEARCH
        li
         a(href="/applicants_list") APP SEARCH
        li
        div.dropdown
           img.profile-photo.dropbtn(src="../images/sean-baier.jpeg")
           div.dropdown-content
              a( onclick="logout()" class="droplinks" href="/Login") LOGOUT
              a(class="droplinks" href="/Profile_Management") PROFILE
              a(class="droplinks" href="/Account_Summary") ACCOUNT
              a(class="droplinks" href="/help") HELP




