head
    title= title
    script(src="https://use.fontawesome.com/b0b7e594c6.js ")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/users_home.css')
    link(rel='stylesheet', href='/stylesheets/users_list.css')
    link(rel='stylesheet', href='/stylesheets/user_details.css')
