extends layout

block content
     .SendRecieve
         .ProfileGreetings
             .ProfileImageControl
                 img.profileImages(src="images/your-face-here.jpg" alt="")
                 - for(let i = 0; i < applications.length -applications.length +1; i++)
                     h2.greetMe Hi again , #{applications[i].firstname}
                 a(href="/") get the most out of your money
         .MoneyCheck
             .payUs
                 img.profileImages(src="images/Money-Trans.jpg" alt="")
                 p pay here
             .takeMoreTime
                 img.profileImages(src="images/more-time.jpg" alt="")
                 p request more time
     .MethodGroup
             .Balance
                 .balanceDetails
                     p Balance
                     a.accountlink(href="/login") Details
                 p send money
                 .Row
                     a.accountlink(href="/login") add
                 .Row
                     a.accountlink(href="/login") transfer
             .CardList
                 .CardDetails
                     p Your Cards
                 .Row.cardrow
                     a.accountlink(href="/") card
                 .Row.cardrow           
                     a.accountlink(href="/") card
                 .Row.cardrow
                     a.accountlink(href="/") card
                 .CardUpdate
                     p.cardupdate You can update your cards 
                         a(href="/") here


             .SellingTools
                 .SellToolDetails
                     p selling tools
                 .Row
                     a(href="/") Manage invoices
                 .Row
                     a(href="/") MultiOrder shipping
                 .Row
                     a(href="/") Seller preferances
             .MoreOnYourAccount
                 .MoreAccountDetails
                     p More about your account
                 .Row
                     a.accountlink(href="/") Upgrade to a Business account
                 .Row
                     a.accountlink(href="/") Resolve a problem in our Resolution Center
                 .Row
                     a.accountlink(href="/") See how much you send with ???
             .PaymentsMade
                  h2 Completed
                  div
                     p need content here dsiemer


