extends layout

block content
     .SendRecieve
         .ProfileGreetings
             .profile-image-container
                 img#user-image(src="images/sean-baier.jpeg" alt="")

             .greetings
                 - for(let i = 0; i < applications.length -applications.length +1; i++)
                     h2.greetMe Hi again, #{applications[i].firstname}!
         .MoneyCheck
             .payUs
                 div.app-icon
                    img(src="../images/payment-icon.svg")
                 a.anchor-tag(href="") Make Payment
             .takeMoreTime
                 div.app-icon
                    img(src="../images/mobile-app-icon.svg")
                 a.anchor-tag(href="") Get the FundBot app
     .content-wrapper
        .sidebar
            .balance.portal-module
                .balanceDetails
                    h2.module-heading Total Balance
                    // This will need to be changed to logic pulling user data
                    div.balance-data
                        .balance-data-container
                            p $
                            p 6,750.
                            p 50
                        .monthly-payment-container
                            p.module-paragraph Amount due on 9/15/2017
                            a.anchor-tag(href="") $150.00
                        button Make a Payment
                        a.anchor-tag(href="/login") Details
            .banks-and-cards.portal-module
                h2.module-heading Banks and Cards
                a.account-item(href="") MasterCard x-5555
                a.account-item(href="") Visa x-5555
        .PaymentsMade.portal-module
            h2.module-heading Completed Transactions


