extends layout

block content
     h1 Applications
     p search for Application
     form.wrap(Method="GET")
      .searchApplications
         .searchApplication
             input.searchForapplication(type='text'  placeholder='What is there username')
             button.searchApplicantBtn(type='submit') search
     -var user = { applicant: '', user: '', admin: 'drake' }  
         if user.admin      
             a(href="/applicant_create") create
     ul
         h2 Applicants
         li Applicants  
             a(href="/user_details") #{applications[0].firstname} #{applications[0].lastname}
             if user.admin
                 p delete here