extends layout

block content
    .statuscontainer
         .statusBlock
             .Phone-Email-block
                 i.fa.fa-envelope.Email
                 div.emailSection
                     p.primary-info.module-paragraph  Email
                     p.module-paragraph #{applications[0].email}

                 i.fa.fa-mobile.Phone
                 div.phoneSection
                     p.primary-info.module-paragraph  SMS
                     p.module-paragraph  #{applications[0].contactphone}
             .Payment-block.status-blocks
                 .leftsideMethod
                     p.module-heading Payments
                 .rightsideMethods
                     p.primary-info We'll let you know when you
                     p.applicationList.sendRecievemethod Send money 
                         i.fa.fa-envelope.envelopeOne
                         i.fa.fa-mobile
                     p.applicationList.sendRecievemethod Request money?  
                         i.fa.fa-envelope.envelopeTwo
                         i.fa.fa-mobile
                     p.applicationList.sendRecievemethod Receive a payment 
                         i.fa.fa-envelope.envelopeThree
                         i.fa.fa-mobile
                     div
                         p.sendRecievemethod Make a purchase in store 
                             i.fa.fa-envelope.envelopeFour
                             i.fa.fa-mobile                     
             .Offers-block.status-blocks
                 .leftsideMethod
                     p.module-heading Offers
                 .rightsideMethods
                     p.primary-info We'll let you know when 
                     p.applicationList.sendRecievemethod Offers are expiring 
                         i.fa.fa-envelope.envelopeFive
                     p.sendRecievemethod You receive or send an offer 
                         i.fa.fa-envelope.envelopeSix
             .News-block.status-blocks
                 .leftsideMethod
                     p.module-heading News and updates
                 .rightsideMethods
                     p.primary-info You're receiving 
                      form(action='/')
                        .checkBox
                          input(type='checkbox' value="Update" name='Developer updates') 
                          |  Developer updates
                        .checkBox
                          input(type='checkbox' value="Update" name='Surveys')
                          |  Surveys
                        .checkBox
                          input(type='checkbox' value="Update" name='News')
                          |  News and Promotions
                        .checkBox
                          input(type='checkbox' value="Update" name='Surveys' )
                          |  Updates when account info is changed
             .Advertising-block.status-blocks
                 .leftsideMethod
                     p.intrests.module-heading Interest-based advertising
                 .rightsideMethods 
                     p.module-paragraph.unfinished Aute commodo enim magna labore in eiusmod laborum non quis dolor mollit pariatur cupidatat nostrud veniam laborum dolore consequat esse qui excepteur fugiat qui sit adipisicing proident nulla fugiat sint labore aliqua.


