extends layout

block content

     form.wrap(Method="GET")
          .searchBackground
             .search
                 input.searchTerm(type='text'  placeholder='How can we help' name='search')
                 button.searchButton(type='submit') search
             .searchHotLinkDiv
                 a.searchHotLinks(href="/") Ask the Community
                 a.searchHotLinks(href="/") Resolution Center
                 a.searchHotLinks(href="/") Message Center
                 a.searchHotLinks(href="/") Call Customer Support


     .CommonQuestionsAndTopics  
         .CommonQuestions
                .SitesAnswers
                     h2 Common Questions
                     .SiteAnswerLinks
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??


         .HelpTopics
             .Topics
                 h2 Help Topics
                 .TopicsAvailble
                     p what topic
                     p what topic
                     p what topic
                     p what topic
                     p what topic
                     p what topic
                     p what topic
                     p what topic


     .AskCommunity
         .Ask
             h2 Ask The Community
             p Find answers or join the conversation in the 
                 a.questionLinks(href="/") Community Help Forum
