extends layout

block content

     form.wrap(Method="GET")
          .searchBackground
             div.search
                 input.searchTerm(type='text'  placeholder='How can we help' name='search')
                 button.searchButton(type='submit') search
     .CommonQuestionsAndTopics  
         .CommonQuestions
                .SitesAnswers
                     h2 Common Questions
                     .SiteAnswerLinks
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??


         .HelpTopics
             .Topics
                 h2 Help Topics
                 .TopicsAvailble
                     p what topic
                     p what topic
                     p what topic
                     p what topic
                     p what topic
                     p what topic
                     p what topic
                     p what topic


     .AskCommunity
         .Ask
             h2 Ask The Community
             p Find answers or join the conversation in the 
                 a.questionLinks(href="/") Community Help Forum
