extends layout

block content
     form.wrap(Method="GET")
          .searchBackground
             div.search
                 input.searchTerm(type='text'  placeholder='How can we help' name='search')
                 button.searchButton(type='submit') search  
     .CommonQuestions
            .SitesAnswers
             h2 Common Questions
             .line

     .HelpTopics
         .Topics
             h2 Help Topics
             .line

     .AskCommunity
         .Ask
             .h2 Ask The Community
             .line