extends layout

block content

     form.wrap(Method="GET")
          .searchBackground
             .search
                 input.searchTerm(type='text'  placeholder='How can we help' name='search')
                 button.searchButton(type='submit') search
             .searchHotLinkDiv
                 a.searchHotLinks(href="/") Ask the Community
                 a.searchHotLinks(href="/") Resolution Center
                 a.searchHotLinks(href="/") Message Center
                 a.searchHotLinks(href="/") Call Customer Support


     .CommonQuestionsAndTopics  
         .CommonQuestions
                .SitesAnswers
                     h2.HeaderStyle Common Questions
                     .SiteAnswerLinks
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??
                         a.questionLinks(href="/") Can I cancel ??


         .HelpTopics
             .Topics
                 h2.HeaderStyle Help Topics
                 .TopicsAvailble
                     p.TopicList what topic
                     p.TopicList what topic
                     p.TopicList what topic
                     p.TopicList what topic
                     p.TopicList what topic
                     p.TopicList what topic
                     p.TopicList what topic
                     p.TopicList what topic


     .AskCommunity
         .Ask
             h2.HeaderStyle Ask The Community
             p Find answers or join the conversation in the 
                 a.questionLinks(href="/") Community Help Forum
