doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
    link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
  body
    include includes/header.pug
    block content
    block footer
         .footer
             .HelpLinks 
                 a(href="#book-a") CONTACT US 
                 a(href="#book-a") SECURITY 
                 a(href="#book-a") FEES
             .line
             .bottomLineContent
                 p ©2017 all rights reserved  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
                     a(href="#book-a") privacy 
                     a(href="#book-a") legal 
                     a(href="#book-a") policy 
                     a(href="#book-a") feedback



