doctype html
html
  head
    title= title
    script(src="https://use.fontawesome.com/b0b7e594c6.js ")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    block navbar
            nav.nav
                 a.logo(href="/Login") Login
                 a.nav-link(href="/Profile_Management") Profile
                 a.nav-link(href="Account_Summary") Account
                 a.nav-link(href="#") ????
                 a.nav-link(href="#") ????
    block content

    block footer
         .footerContainer
             footer.footerContent
                 .footerInner
                     .blockContainer
                         .blockContent
                             .blockText
                                 h2.contentTitle LOAN APPLICANTS
                                     .blockInnerContent
                                         p.footer-text Questions on your loan application? Please email CustomerTrust@Skills.Fund.
                     .blockContainer
                         .blockContent
                             .blockText
                                 h2.contentTitle STAY IN THE KNOW
                                 .blockInnerContent
                                     p.footer-text Our newsletter is your guide to the best bootcamps around.
                                 .blockInnerContent.blockImg
                                     form.emailCapture.scForm
                                         span.progressWrap
                                             input(type='text'  placeholder='you@youremail.com' name='email')
                                             span.progressSpinner.progressSpinner--small
                                             button.sbutton(type='submit') GO
                     .blockContainer
                         .blockContent
                             .blockText
                                 h2.contentTitle INFO & PRIVACY
                                 .blockInnerContent.links-r
                                     ul.randomlink
                                         li
                                             a.grayhref(href="/") FAQ
                                         li
                                             a.grayhref(href="/") Careers
                                         li
                                             a.grayhref(href="/") Privacy Policy
                                         li
                                             a.grayhref(href="/") Terms of Use
                                         li © Copyright 2015-2017 Skills Fund, LLC
                     .blockContainer
                         .blockContent
                             ul
                                 li School Partnershio & General Inquiries:
                                 li 
                                     a.fbutton(href="/") Partnership Inquiry
                         .blockContent.icons-in-group
                             ul.iconGroup
                                 li
                                     a.zocial(href="/") 
                                         i.fa.fa-money
                                 li
                                     a.zocial.twitter(href="/") 
                                          i.fa.fa-twitter
                                 li
                                     a.zocial.facbook(href="/")
                                          i.fa.fa-facebook
                     .scCredit
                         a.grayhref2(href="/") Created with SpaceCraft

    
 


