doctype html
html
  head
    title= title
    script(src="https://use.fontawesome.com/b0b7e594c6.js ")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/header-styles.css')
    link(rel='stylesheet', href='/stylesheets/profile-styles.css')
    link(rel='stylesheet', href='/stylesheets/footer-styles.css')
    link(rel='stylesheet', href='/stylesheets/Account-Summary-styles.css')
    link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
  body
    block navbar
         include includes/header.pug

    block content
    block footer
         include includes/footer.pug