doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    block navbar
     // make navbar Priority lvl 1
    

    block content

    block footer
        .footer
           a(href="#book-a") CONTACT US 
           a(href="#book-a") SECURITY 
           a(href="#book-a") FEES
           .line
           .bottomLineContent
               p ©2017 all rights reserved  &nbsp;  &nbsp; |
               a(href="#book-a") privacy 
               a(href="#book-a") legal 
               a(href="#book-a") policy 
               a(href="#book-a") feedback



