include includes/head.pug
div.login-wrapper
  div.main
    div.main-overlay  
      header#login-header
        div.logo
          img.bot-logo(src="../images/robot-icon-white.svg")
          h1 FUNDBOT
        ul
          li.login-btn-header
            a(href="Login") Login
      div.form-container
            h1 Change your life, get funded.
            form(action='/Profile_Management')
              div
                input.login-input(type='text' id='email' placeholder='email' name='email')
              div
                input.login-input(type='password' id='password' placeholder='password' name='password')
              div    
                  input.login-input(type='text' id="confirm_password" placeholder='confirm password')  
              button.login-btn-main(type='submit') Log in
              a.login-support(href="/password_reset") Having trouble logging in?
  div.secondary-content
    div
      h2 Aliqua exercitation veniam
      p Proident exercitation nulla dolor anim eiusmod ea nostrud quis mollit culpa dolor anim sint qui non est dolore quis sint incididunt sunt dolor pariatur dolor sed ut eu. Lorem ipsum nisi deserunt labore in cupidatat elit sed nulla nulla ut dolor veniam laborum cillum in aute dolore culpa ad voluptate aliquip labore occaecat ut adipisicing laborum sed eu aliqua esse.

  include includes/footer.pug
