extends layout

block content
    .containerLogin
      .row
        .list
          h1.display-4.m-b-2 Log In
          form(action='/Profile_Management')
            div.form-group
              input.form-control(type='text' id='email' placeholder='email' name='email')
            div.form-group
              input.form-control(type='password' id='password' placeholder='password' name='password')
            button.btn.btn-primary(type='submit') Log in  

            p.or or
            .sign-up
             a.signBtn(href="/Login") sign&nbsp;up
block footer
