extends layout

block content

      div.form-container
          h2 UH OH! FORGOT YOUR PASSWORD?
          form(action='/Profile_Management')
              div
                  input.login-input(type='text' id="email" placeholder='your email')
              div    
                  input.login-input(type='text' id="password" placeholder='new password')
              div    
                  input.login-input(type='text' id="confirm_password" placeholder='confirm password')
              button.login-btn-main(type='submit') Change    



           



