include includes/head.pug
div.login-wrapper
  div.main
    div.main-overlay  
      header#login-header
        div.logo
          img.bot-logo(src="../images/robot-icon-white.svg")
          h1 FUNDBOT
        ul
          li.login-btn-header
            a(href="Login") Login
      div.form-container
          h1 PASSWORD SENT!
      div.reset_color
          h3 Please check your email 
      form(method="POST") 
          div.form-container 
            a.login-btn-main(href="Login") Back to login
block content          
          