extends layout

block navbar

block content
    div.login-wrapper
      div.main
        div.main-overlay  
          header#login-header
            div.logo
              img.bot-logo(src="../images/robot-icon-white.svg")
              h1 FUNDBOT
            ul
              li.login-btn-header
                a(href="Login") Login
              li.sign-up-btn-header
                a(href="Login") Sign Up
          div.form-container
                h1 UH OH! FORGOT YOUR PASSWORD?
                form
                  div
                    input.login-input(type='text' id='email' placeholder='email' name='email')
                  button.login-btn-main(type='submit' id='reset_password') Get new password
              

