extends layout

block content

 .Payments
     p some text

     .PayMethods
         .sendMoney
             .p Send Method
             a(href="/") Icon here
             .line
             .p Send Method
             a(href="/") Icon here
             .line
             .p Send Method
             a(href="/") Icon here
             .line
             .p Send Method
             a(href="/") Icon here
             .line
 .Offers
     p some text
         .Offers
             .p Send Method
             a(href="/") Icon here
             .line
             .p Send Method
             a(href="/") Icon here
 .News
     p some text
         .CheckBoxs
             // some check box method here
 .Intrests
     p some text
         .Paraghraph
             p Lorem ipsum culpa aliqua minim exercitation cillum irure veniam eiusmod ullamco irure excepteur sunt elit dolore nulla nisi dolor quis aliquip culpa incididunt in commodo consectetur velit aliqua et.



