extends layout

block content
     .searchbar
         .dateofloan
             div
                 p start
                 div
                 p adfl
             div
                 p start
                 div
                 p adfl
 
         form.wrap(Method="GET")
          .searchActivities
             .searchActivity
                 input.searchYourActivity(type='text'  placeholder='How can we help' name='search')
                 button.searchbarButton(type='submit') search
         p Advanced filters
         div
             i.fa.fa-bars
             div
                 p simple
         div
             i.fa.fa-list
             div
                 p detailed
     .PaymentsMade-more-detail
         h2 Completed
         div
             p need content here dsiemer