extends layout

block content
     .maincontainer
         h1.User-Admin-h1 Users/Admin
         .search-containers
             form.wrap.searchbar(Method="GET")
                 .searchBackgroundUser
                     .searchuserBar
                         input.searchTermUser.searchusers(type='text'  placeholder='Search by Last Name, First Name (lower case)' name='search')
             if session.isadmin 
                 .userCreateLinkDiv
                     a.userCreateLink(href="/users_create") create user

             .first-column
                 .user-tabs
                     ul.user-tab-links
                         div.listUsersHere
                             a.listlink(href='#admin-tab') ADMINS
                         div.listUsersHere
                             a.listlink(href='#user-tab') USERS
                     .tab-content
                         #admin-tab
                             ul.adminlist
                              - for (i =0; i < applications.length; ++i)
                                 if (applications[i].isadmin != '') 
                                     p #{applications[i].firstname} #{applications[i].lastname} 
                                         a.userListLink(href='user_details/'+applications[i]._id) View Details
                         #user-tab
                             ul.userlist
                              - for (i =0; i < applications.length; ++i)
                                 if (applications[i].isuser != '') 
                                     p #{applications[i].firstname} #{applications[i].lastname} 
                                         a.userListLink(href='user_details/'+applications[i]._id) View Details
                                         if session.isadmin
                                                 p delete here