extends layout

block content
            form#form
              div
                input#input(type='text' class='email' placeholder='email' name='email')
              div
                input#input(type='password' class='password' placeholder='password' name='password')
              div
                input#input(type='text' class='firstname' placeholder='First Name' name='First Name')
              div
                input#input(type='text' class='lastname' placeholder='lastname' name='Last Name')
              div
                input#input(type='text' class='contactphone' placeholder='phone number' name='phone number')
              div
                input#input(type='text' class='zip' placeholder='zip' name='zip')
              div
                input#input(type='text' class='address-you' placeholder='address' name='address')
              div
                input#input(type='text' class='city' placeholder='city' name='city')

              button.button(type='submit') Update
