extends layout

block content
     h1.User-Admin-h1 Users/Admin
     .search-containers
         form.wrap.searchbar(Method="GET")
               .searchallUsers
                  .search
                      input.searchallUsersbtn(type='text'  placeholder='Search for users' name='search')
                      button.searchButtonUA(type='submit') Search
     -var user = { applicant: '', user: '', admin: 'drake' }  
         if user.admin      
     .two-column-list
         .first-column
             .column-content
                 h3 Users
                 a(href="/users_create") create User
                 p User  
                     a(href="/user_details") #{applications[0].firstname} #{applications[0].lastname}
                     if user.admin
                         p delete here
         .second-column
             .column-content
                 h3 Admins
                 p admin  
                     a(href="/user_details") #{applications[0].firstname} #{applications[0].lastname}
