extends layout

block content
 .updateUser
     .formContainer
         .UserFormHeader
             h3 Update #{applications.firstname}
         .UserForm
             form#form
               .formInput
                 input#input(type='text' class='firstname', placeholder='First Name', name='First Name' )
               .formInput
                 input#input(type='text' class='lastname' placeholder='Last Name' name='Last Name')
               .formInput
                 input#input(type='email' class='email' placeholder='Email' name='email')
               .formInput
                 input#input(type='password' class='password' placeholder='password' name='password')

               button.UserUbtn(type='submit' href="http://localhost:3000/user_list" value="http://localhost:3008/logins/"+applications.user) Update
