extends layout

block content
 .updateUser
     .formContainer
         .UserFormHeader
             h3 Update #{applications.firstname}
         .UserForm
             form#form
               .formInput
                 input#input(type='text' class='firstname', placeholder='First Name', name='First Name' )
               .formInput
                 input#input(type='text' class='lastname' placeholder='Last Name' name='Last Name')
               .formInput
                 input#input(type='text' class='email' placeholder='Email' name='email')
               .formInput
                 input#input(type='text' class='contactphone' placeholder='Phone Number' name='phone number')
               .formInput
                 input#input(type='text' class='city' placeholder='City' name='city')
               .formInput
                 input#input(type='text' class='zip' placeholder='Zip' name='zip')
               .formInput
                 input#input(type='text' class='addressYou' placeholder='Address' name='address')
               .formInput
                 input#input(type='password' class='password' placeholder='Password' name='password')

               button.UserUbtn(type='submit') Update
