extends users-layout

block content
     h1 Users
     p search for user
     form.wrap(Method="GET")
      .searchUsers
         .searchUser
             input.searchForUser(type='text'  placeholder='What is there username')
             button.searchUserBtn(type='submit') search
     ul
         h2 Admins
         li Admin 
             a(href="/user_details") #{applications[0].firstname} #{applications[0].lastname}
     ul
         h2 Applicants
         li Applicant  
             a(href="/user_details") #{applications[0].firstname} #{applications[0].lastname}
