/* ---------- Account Summary ---------- */



/* User Greeting */

.SendRecieve {
    display: flex;
    justify-content: space-between;
    width: 1025px;
    margin: 50px auto;
    /*padding-bottom: 25px;*/
}

.ProfileGreetings {
    display: flex;
    align-items: center;
    height: 110px;
}

.MoneyCheck {
    display: flex;
}

.SendRecieve .ProfileGreetings .profile-image-container {
    border-radius: 100%;
    overflow: hidden;
    height: 110px;
    width: 110px;
    margin-right: 25px;
}

#user-image {
    height: 110px;
}

.greetings h2 {
    padding-bottom: 25px;
    font-weight: lighter;
    margin-bottom: 0;
}

/* App Icons */

.app-icon {
    height: 90px;
    width: 90px;
    border: 1px solid #1BBCB1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-icon img {
    height: 25px;
}

.takeMoreTime .app-icon img {
    height: 40px;
}

.payUs, .takeMoreTime {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payUs a, .takeMoreTime a {
    width: 100px;
    text-align: center;
    line-height: 1.2em;
    padding-top: 10px;
}

/* Content */

.content-wrapper {
    width: 1025px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.content-wrapper .sidebar {
    display: flex;
    flex-direction: column;
}

.content-wrapper .balance, .content-wrapper .banks-and-cards {
    width: 300px;
}

.content-wrapper .PaymentsMade {
    width: 675px;
}

/* Balance Details */

.balanceDetails .balance-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balance-data-container {
    display: flex;
    color: rgba(0, 0, 0, .8);
    font-size: 3em;
    align-items: flex-start;
    padding-top: 15px;
    font-family: "Oswald", sans-serif;
}

.balanceDetails {
    display: flex;
    flex-direction: column;
}

.balance-data-container p:first-child, .balance-data-container p:last-child {
    font-size: .7em;
    padding-top: 5px;
}

.balanceDetails .module-paragraph {
    color: rgba(0, 0, 0, .5);
    display: inline-block;
}

.balanceDetails .monthly-payment-container {
    display: flex;
}

.balanceDetails .monthly-payment-container a {
    padding-left: 5px;
}

.balanceDetails button  {
    border-radius: 100px;
    width: 250px;
    font-size: .8em;
    font-weight: lighter;
    padding: 10px 0;
    color: #1BBCB1;
    margin: 5px 0 15px 0;
    border: 1px solid #1BBCB1;
    text-decoration-style: none;
    transition: .5s;
    background: none;
}

.balanceDetails button:hover {
    background: #1BBCB1;
    color: #fff;
} 

