
.approveButton {
	display: flex;
	justify-content: center;
    cursor: pointer;
    border: 1px solid #1BBCB1;
    color: #fff;
    border-radius: 100px;
    background: #1BBCB1;
    width: 80px;
    margin-top: 30px;
}