
.approveButton{
    display:flex;
    justify-content:center;
    border-radius: 100px;
    width: 250px;
    font-size: .8em;
    font-weight: lighter;
    padding: 10px 0;
    color: #1BBCB1;
    margin: 5px 0 15px 0;
    border: 1px solid #1BBCB1;
    text-decoration-style: none;
    transition: .5s;
    background: none;
}

.approveButton:hover {
    background: #1BBCB1;
    color: #fff;
} 