.title {
    text-align: center;
    padding: 20px;
    font-size: 3em;
    font-weight: bold;
    margin-top: 5%;
}
.top-master-container{
	max-width: 1024px;
	margin: auto;
}
.search-container{
	display: flex;
}
.searchbar{
	flex: 1;
}
.master-container{
	display: flex;
	justify-content: center;
}
.over-all-container {
    padding: 5% 5% 5% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0px;
    flex: 1;
}

.applications-accepted-block {
    flex: 1;
    flex-basis: 300px;
    width: 300px;
    align-self: center;
    margin: 2% 5% 2% 2%;
    max-width: 480px;
}

.acceptedList {
	border-top: 1px solid rgba(0, 0, 0, .1);
    align-items: center;
    border-radius: 5px;
    padding: 10px 0px 10px 20px
}

.applications-pending-block {
    flex: 1;
    flex-basis: 300px;
    width: 300px;
    align-self: center;
    padding: 1%;
    max-width: 480px;
}

.pendinglist {
	border-top: 1px solid rgba(0, 0, 0, .1);
    align-items: center;
    border-radius: 5px;
    padding: 10px 0px 10px 20px
}

.applications-rejected-block {
    flex: 1;
    flex-basis: 300px;
    width: 300px;
    align-self: center;
    margin: 2% 5% 2% 2%;
    max-width: 480px;
}

.rejectedlist {
	border-top: 1px solid rgba(0, 0, 0, .1);
    align-items: center;
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
    max-width: 480px;
}

.hover {
    color: #68d1ff;
}
.viewDetails {
	display: none;
	float: right;
	padding-right: 10px;
}
.anchor {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
