.unfinished{
	color:red;
}
.status-blocks {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.applicationList{
	  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.fa-envelope{
	margin:0px;
	padding-right:10px;
	}
.envelopeOne{
	margin-left:67.3%;
}
.envelopeTwo{
	margin-left:61.8%;
}
.envelopeThree{
	margin-left:59.5%;
}
.envelopeFour{
	margin-left:52.8%;
}
.envelopeFive{
	margin-left:65.4%;
}
.envelopeSix{
	margin-left:55%;
}
.emailSection{
	flex:1;
	align-content:center;
}
.Email{
	font-size:40px;
	margin:1%;
}
.phoneSection{
	flex:1;
}
.Phone{
	font-size:60px;
}
.statuscontainer{
	display:flex;
	justify-content:center;
}
.statusBlock{
	width:900px;
}
.leftsideMethod{
	width:30%;
}
.rightsideMethods{
	width:60%;
}
.checkBox{
	margin-bottom:10px;
	color:#333;
}
.intrests{
	margin-right:20px;
}
.sendRecievemethod{
	display:flex;

}
/* Paragraph text inside modules */

.module-paragraph {
    font-size: .8em;
    margin: 0;
}

.primary-info {
    color: rgba(0, 0, 0, .4);
    font-style: italic;
    margin-bottom: 15px;
}

/* modules for profile information */

.portal-module {
    background-color: #fff;
    margin-bottom: 75px;
    width: 100%;
}

.module-heading {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 25px;
    font-weight: lighter;
    margin-bottom: 0;
}

.Phone-Email-block { display: flex; margin:2.4%;}

