/* 
// Inventive blue #68d1ff 
// Inventive black/blue #00151A
// linear-gradient #1BBCB1 , #, #37B9E9
-*/

header {
    font-family: "Oswald", sans-serif;
    background: linear-gradient(to bottom right, #1BBCB1, #37B9E9);
    /*background: #00151A;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
header .logo {
    display: flex;
    align-items: baseline;
    padding: 15px 0 12px 35px;
}
header .bot-logo {
    height: 30px;
    padding-right: 8px;
}
header h1 {
    font-size: 2em;
    color: #fff;
}
header ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 15px 35px 0 0;
}
header ul li a {
    color: #fff;
    text-decoration: none;
    padding-left: 25px;
    transition: .3s;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1.1em;
}
header ul li a:hover {
    color: #eee;
    text-decoration: none;
}
header ul .profile-photo {
    width: 35px;
    border-radius: 100%;
    transition: .3s;
}
header ul .profile-photo:hover {
    transform: scale(1.1);
    transition: .3s;
}
header ul li img{
    height: 35px;
}

header ul .dropdown .profile-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

header ul .dropdown .profile-icon-container .admin-icon {
    height: 20px;
    margin-right: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    width: 125px;
    z-index: 1;
    background-color: #fff;
}
.dropdown-content a {
    font-family: sans-serif;
    color: #1BBCB1;
    font-weight:lighter;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    transition-duration: .5s;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;

}
.dropdown:hover .dropdown-content {
    display: block;
}

.admin-bar {
    padding: 5px 0;
    max-width: 1024px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.admin-bar .admin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-bar h2 {
    font-weight: lighter;
    color: #333;
    margin: 0;
    padding: 25px 0;
}

.admin-bar .admin-icon {
    height: 25px;
    margin-left: 15px;
}



