/* --------------- password reset page --------------- */
.main {
    background-image: url("../images/people-smiling-low-sat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.main-overlay {
    background: linear-gradient(to bottom right, rgba(27, 188, 177, .9), rgba(55, 185, 233, .9));
    height: 100%;
    text-align: center;
}

.form-container h1 {
    
    font-size: 3.8em;
    font-weight: lighter;
    margin-bottom: 40px;
}

/* --------------- password sent page --------------- */