/*.Payments {
    width: 90%;
    background-color: gray;
}

.PayMethods {
    background-color: lightgray;
    margin-top: 20px;
}

.sendMethods {
    background-color: darkgray;
}

.Offers {
    width: 90%;
    background-color: gray;
    margin-top: 20px;
}

.News {
    width: 90%;
    background-color: gray;
    margin-top: 20px;
}

.Intrests {
    width: 90%;
    background-color: gray;
    margin-top: 20px;
}

.SendRecieve{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:225px;
	background:gray;
}
.ProfileGreetings{
	display:flex;
	justify-content:center;
	vertical-align:center;
}

.MoneyCheck{
 display:flex;
}
*/