/* ---------- Profile Management ---------- */


/* --------------------------------------
Main Styles 
----------------------------------------*/

.profile-main {
    display: flex;
    margin: 0 0 100px 0;
    justify-content: space-between;

}

.column {
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    width: 480px;
}

/* basic profile info */

.profile-container {
	display:flex;
    margin: 0 25px 75px 0;
    flex-direction: column;
}

.profile-info-container {
    display: flex;
    margin-top: 25px;
}

.profile-info-container-admin {
    display: flex;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25px;
}

.img-container .photo-container {
    height: 110px;
    width: 110px;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 10px;
}

.ProfileImage {
    height: 110px;
}

.extra-info {
    width: 325px;
    display: flex;
    flex-direction: column;
}

.profile-name {
    margin: 0;
    color: #333;
    font-size: 1.2em;
}

.extra-info .GetM {
    font-size: .9em;
    padding: 10px 0 0 0;
    font-weight: lighter;
}

.morecontroll {
    padding-bottom: 10px;
}

/* Address info */

.address {
    margin-top: 25px;
}

/* Account Options */

.account-options .selection-container {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.account-heading {
    font-weight: lighter;
    font-size: .8em;
    color: #333;
    margin: 0;
}

.account-options .selection-container select {
    width: 65%;
    height: 40px;
    background: #fff;
    border: 1px solid #1BBCB1;
    font-weight: lighter;
    font-size: .8em;
}

.account-options {
    padding-bottom: 0;
}

/* Contact info */

.phone-container .phone-details .primary-info {
    margin-bottom: 15px;
}

.phone-info {
    margin-top: 25px;
}

.email-container div .primary-info {
    margin-bottom: 15px;
}

.email-info {
    margin-top: 25px;
}

.disclaimer {
    color: rgba(0, 0, 0, .4);
    font-style: italic;
    font-size: .7em;
}




