/* ---------- Profile Management ---------- */


/* -------------------------------------
Utility Classes
--------------------------------------*/

/* anchor tags */
.anchor-tag {
    font-size: .8em;
    text-decoration: none;
    transition: .5s;
    color: #0070BA;
}

.anchor-tag a:hover {
    color: initial;
    text-decoration: underline;
    color: #0070BA;
}

/* Paragraph text inside modules */

.module-paragraph {
    font-size: .8em;
    color: #333;
    margin: 0;
}

.primary-info {
    color: rgba(0, 0, 0, .4);
    font-style: italic;
    margin-bottom: 15px;
}

/* modules for profile information */

.portal-module {
    background-color: #fff;
    margin-bottom: 25px;
    width: 100%;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.module-heading {
    font-size: 1.5em;
    margin-bottom: 30px;
}

/* --------------------------------------
Main Styles 
----------------------------------------*/

.profile-heading {
    font-family: "Oswald", sans-serif;
    color: #ccc;
    font-size: 2em;
    margin-top: 25px;
}

.profile-main {
    display: flex;
    margin: 10px 0 100px 0;

}

.column {
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    width: 500px;
}

/* basic profile info */

.profile-container {
	display:flex;
    margin: 0 25px 25px 0;
    max-height: 200px;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25px;
}

.img-container .photo-container {
    height: 110px;
    width: 110px;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 10px;
}

.ProfileImage {
    height: 110px;
}

.extra-info {
    width: 325px;
    display: flex;
    flex-direction: column;
}

.extra-info .Ep {
    font-size: .8em;
}

.extra-info .GetM {
    font-size: .9em;
    padding: 10px 0 0 0;
}

.morecontroll {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 10px;
}

/* Address info */


/* Account info */

.account-options .selection-container {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.account-heading {
    font-weight: bold;
    font-size: .8em;
    color: #333;
    margin: 0;
}

.account-options .selection-container select {
    width: 65%;
    height: 40px;
}

.account-details .selection-container:last-child {
    border-bottom: none;
}

.account-options {
    padding-bottom: 0;
}

/* Contact info */

.phone-container .phone-details .primary-info {
    margin-bottom: 15px;
}

.email-container div .primary-info {
    margin-bottom: 15px;
}

.disclaimer {
    color: rgba(0, 0, 0, .4);
    font-style: italic;
    font-size: .7em;
}


