/*   -------------- General styles -------------- */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
}

.HelpLinks{
	padding-top:50px;
	padding-bottom:20px;
	margin-top:30px;
}

.bottomLineContent {
    display: flex;
    justify-content: flex-end;
}

a:hover {
	color: #1BBCB1;
}

.wrapper {
    width: 1025px;
    margin: auto;
    display: flex;
    flex-direction: column;
}