/*   -------------- General styles -------------- */

* {
    box-sizing: border-box;
}

body {
    background: #fff;
}

.HelpLinks {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.bottomLineContent {
    display: flex;
    justify-content: flex-end;
}

a:hover {
    color: #1BBCB1;
}

.wrapper {
    width: 1024px;
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}


/* -------------------------------------
Utility Classes
--------------------------------------*/


/* anchor tags */

.anchor-tag {
    font-size: .8em;
    text-decoration: none;
    transition: .3s;
    color: #1BBCB1;
}

.anchor-tag a:hover {
    color: initial;
    text-decoration: underline;
}


/* Paragraph text inside modules */

.module-paragraph {
    font-size: .8em;
    color: #333;
    margin: 0;
}

.primary-info {
    color: rgba(0, 0, 0, .4);
    font-style: italic;
    margin-bottom: 15px;
}


/* modules for profile information */

.portal-module {
    background-color: #fff;
    margin-bottom: 75px;
    width: 100%;
}

.module-heading {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 25px;
    font-weight: lighter;
    margin-bottom: 0;
}


/* Application OverView Tabs */


/*----- Tabs -----*/

.tabs {
    width: 100%;
    display: inline-block;
}


/*----- Tab Links -----*/


/* Clearfix */

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

li.active a,
li.active a:hover {
    background: #fff;
    color: #4c4c4c;
}


/*----- Content of Tabs -----*/

.tab-content {
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}