/*   -------------- General styles -------------- */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
}

.HelpLinks{
	padding-top:50px;
	padding-bottom:20px;
	margin-top:30px;
}

.bottomLineContent {
    display: flex;
    justify-content: flex-end;
}

a:hover {
	color: #1BBCB1;
}

.wrapper {
    width: 1024px;
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

/* -------------------------------------
Utility Classes
--------------------------------------*/

/* anchor tags */
.anchor-tag {
    font-size: .8em;
    text-decoration: none;
    transition: .3s;
    color: #1BBCB1;
}

.anchor-tag a:hover {
    color: initial;
    text-decoration: underline;
}

/* Paragraph text inside modules */

.module-paragraph {
    font-size: .8em;
    color: #333;
    margin: 0;
}

.primary-info {
    color: rgba(0, 0, 0, .4);
    font-style: italic;
    margin-bottom: 15px;
}

/* modules for profile information */

.portal-module {
    background-color: #fff;
    margin-bottom: 75px;
    width: 100%;
}

.module-heading {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 25px;
    font-weight: lighter;
    margin-bottom: 0;
}