/* --------------- user list page --------------- */
.User-Admin-h1{
	margin-left:38%;

}
.search-containers{
	margin-left:25%;
}

.searchallUsers{
}
.searchallUsersbtn {
    width:500px;
    padding: 10px 0 10px 25px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #1BBCB1;
}
.searchButtonUA {
  border: 1px solid #1BBCB1;
  color: #fff;
  border-radius: 100px;
  background: #1BBCB1;
  width: 100px;
}

.two-column-list {
    display: flex;
}
.first-column {
	display:flex;
	justify-content:center;
    width: 50%;
}

.second-column {
    display:flex;
	justify-content:center;
    width: 50%;
}
.column-content{

}
/* --------------- user details page --------------- */
.user-details-layout{
	display:flex;
	flex-wrap:wrap; 
	margin:auto;
}
.lorem-ipsum{
	color:red;
}
.user-details{
	width:300px;
	margin-left:10%;
}
.detail-image{
    width:320px;
}
.short-story{
	width:300px;
	margin-left:15%;
}
.user-details-photo{
	width:100px;
	border-radius:50px;
	margin-left:70%;
	margin-bottom:20px;

}
/* --------------- user update page --------------- */


/* --------------- user create page --------------- */
